
  form{
    width:600px;
    border:1px solid grey;

    }
input{
    width:590px;
    height:15px;
    padding:10px 0px 10px 0px;
}
select{width:590px;
    height:15px;
    padding:10px 0px 10px 0px;}

#button{
    margin-top: 20px;
    margin-bottom: 40px;
    height:40px;
    background: #00a64f;
    color:white;
    text-align: center;
    font-weight: bold;
}